node_modules
part3-notes-backend
part2-notes-frontend
.env
/part4/phonebook-backend
/part5/bloglist-frontend/src/components/Note.jsx
/part5/bloglist-frontend/tests/Note.test.js
/part5/pruebas-cypress
/part7/webpack
/part7/class-components
/prueba-tecnica
/compound-components
/part8
/part9/examples
/part10
